<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/card.css">
         <link rel="stylesheet" href="/modal.css">
        <title>Image Board</title>
    </head>
    <body>
        <script
            src="/js/app.js"
            type="module"
            crossorigin="use-credentials"
        ></script>
        <header><h1>Imageboard</h1></header>

        <!-- MAIN: PUT ALL MY STUFF HERE -->
        <main id="main">
            <!-- DISPLAY THE FORM FOR UPLOADING IMAGES HERE -->
            <!-- <h2 class="uploadtitle">{{uploadheadline}}</h2><br> -->
            <form class="uploadForm"
                enctype="multipart/form-data"
                @submit.prevent="uploadImage">
                
            <input
                type="text"
                name="title"
                v-model="title"
                id=""
                placeholder="Title"
            />
            <input
                type="text"
                name="description"
                v-model="description"
                id=""
                placeholder="Description"
            />
            <input
                type="text"
                v-model="username"
                name="username"
                id=""
                placeholder="Username"
            />
                <div class="form-row">
                    <label for="picture">Please select your file: </label>
                    <input type="file" name="picture" id="picture" accept="image/*" />
                </div><br>
                <input type="submit" value="Upload!" class="btn-submit" />
            </form>
            <div class="status">{{ message }}</div>

            <h2 class="someLine">-----------------------------------------------------------------------------------------------------------------------------------</h2>

            <!-- DISPLAY MY IMAGE WITH INFO HERE -->
            <!-- <h2 class="displaytitle">{{imagedisplayheadline}}</h2> -->
            <div id="imagesContainer1">
                <section id="imagesContainer2">
                    <div class="cardImage" v-for="image of images"  @click="openModal(image)">
                       
                        <p class="imagetitle">{{image.title}}</p>
                        <img class="someImage" :src="image.url" alt="picture" />
                        <p class="imageDescription">{{image.description}}</p>
                </div>
                </section>  
            </div>
             <Modal :image="selectedImage" v-if="isModal" @close="closeModal"></Modal>
        </main>
        <footer>Footer</footer>
    </body>
</html>