* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --myHeaderColor: #000000;
}

body {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 80px 3fr 50px;
}

header {
    text-align: center;
    background-color: var(--myHeaderColor);
}

h1,
h2 {
    color: aliceblue;
    margin-top: 20px;
}

main {
    text-align: center;
    background-color: #ecececd8;
}

#imageContainer {
    display: grid;
    align-items: center;
    justify-content: center;
}

#imagesContainer2 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 1em 3em 0 3em;
}

.imagetitle {
    font-size: 20px;
    font-weight: bold;
    font-variant-caps: all-petite-caps;
}

.cardImage {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    justify-content: center;
    height: 280px;
    margin: 10px;
    padding: 10px;
    border: 2px white solid;
    box-shadow: 2px 2px 2px 1px #1b1b1b;
}

.someImage {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: rgb(0, 0, 0);
}

footer {
    background-color: black;
}
