.modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    inset: 0;
    color: white;
    background-color: rgba(2, 8, 20, 0.7);
}
.modalImgContainer {
    display: block;
    margin-bottom: 150px;
    align-items: center;
    height: 600px;
    width: 800px;
}

.close {
    align-self: flex-end;
    padding: 1rem;
    background: transparent;
    border: unset;
}

#modal-img {
    height: 60%;
    width: 60%;
}

.modal h1 {
    margin-bottom: 10px;
    color: red;
}

.modal h3 {
    margin-top: 10px;
    color: red;
}
#fieldForComments {
    color: yellow;
    margin-top: 5px;
}

.modal-info {
    color: yellow;
    margin-top: 5px;
    margin-bottom: 5px;
}

#comment-form {
    margin-top: 10px;
}

.btn-submit {
    margin-top: 10px;
    color: white;
    background-color: black;
}
