.modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    inset: 0;
    color: palevioletred;
    background-color: rgba(2, 8, 20, 0.7);
}
.modalImgContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.close {
    align-self: flex-end;
    padding: 1rem;
    background: transparent;
    border: unset;
}
